<div th:fragment="navbar">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ABC Laboratories</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" href="/tests/add">Add Test</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tests/user-tests">All Tests</a>
            </li>
           <!-- Check if user is authenticated -->
           <li class="nav-item" th:if="${user?.getFullname()!= null}">
            <a class="nav-link" href="">
                <span class="text-primary" >  [[${user?.getFullname()}]]</span>
              </a>
        </li>
           <li class="nav-item" th:if="${user?.getFullname()!= null}">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        
        <li class="nav-item" th:unless="${user?.getFullname()}">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item" th:unless="${user?.getFullname()}">
            <a class="nav-link" href="/registration">Register</a>
        </li>
        </ul>
    </div>
</nav>
</div>